@page
@model TrackingModel
@{
    ViewData["Title"] = "Tracking";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-3 border-right">
            This is first column
        </div>
        <div class="col-9">
            <div id="myMap" style='position:relative;width:800px;height:500px;'></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function GetMap() {
        var map = new Microsoft.Maps.Map('#myMap', { center: new Microsoft.Maps.Location(15.846696, 74.512125) });
        var center = map.getCenter();
        //Create custom Pushpin
        var pin = new Microsoft.Maps.Pushpin(center, {
            title: 'Home',
            subTitle: 'City Center',
            text: '1'
        });
        //Add the pushpin to the map
        map.entities.push(pin);

        let locations = [
            {
                x: 15.846972, 
                y: 74.516540
            },
            {
                x: 15.850564, 
                y: 74.516208
            },
            {
                x: 15.853260,
                y: 74.515218
            },
            {
                x: 15.854652, 
                y: 74.514381
            },
            {
                x: 15.853898, 
                y: 74.513255
            },
            {
                x: 15.852928,
                y: 74.511066 
            },
            {
                x: 15.854373,
                y: 74.508876
            },
            {
                x: 15.856752, 
                y: 74.506602
            },
            {
                x: 15.858521, 
                y: 74.506631
            },
            {
                x: 15.859419, 
                y: 74.508037 
            },
            {
                x: 15.862598, 
                y: 74.507286 
            },
            {
                x: 15.866739, 
                y: 74.509842
            }
        ];

        let i = 0;

        const updateLocation = () => {
            pin.setLocation(new Microsoft.Maps.Location(locations[i].x, locations[i].y));
            i++;
            if (i === locations.length) {
                clearInterval(inteval);
            }
        };

        let inteval = setInterval(function () {
            updateLocation();
        }, 5000);


    }
</script>