body {
	overflow: hidden;
}

.img-container-with-text {
	position: relative;
  	text-align: center;
  	color: white;
	margin: -3px 0px;
}

.img-container-with-text > img {
	position: relative;
	z-index: 5;
}

.centered-img-text {
  	position: absolute;
  	z-index: 5;
  	top: 50%;
  	left: 50%;
  	transform: translate(-55%, -50%);
  	width: 100%;
}

.section-tab-selected {
	font-size: larger;
	font-weight: bold;
	color: white;
}

.section-tab {
	color: white;
	background: #85a6e1;
	margin: 5px 0px;
	padding: 10px;
	cursor: pointer;
	font-weight: lighter;

}

.nav-tabs-container {
	margin-left: 20px;
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-end;
}

.nav-tabs-container > div {
	border: 1px solid #999;
	border-bottom: none;
	border-radius: 10px 10px 0 0;
	padding: 6px 0;
	text-align: center;
	min-width: 200px;
	margin-left: 10px;
	color: #666;
	background: white;
	cursor: pointer;
}

.nav-tabs-container > div.selected {
	padding-top: 13px;
	font-weight: bold;
	font-size: larger;
	box-shadow: 0px -3px 4px #eaeaea;
	color: black;
	position: relative;
	bottom: -1px;
	cursor: auto;
}

.tabs-content-container {
	border: 1px solid #999;
	box-shadow: 0px 2px 3px #aaa;
	overflow-y: auto;
}

.profile-btn {
	border: 1px solid #ccc;
	border-top: none;
	border-radius: 0 0 5px 5px;
	box-shadow: 1px 1px 2px #eee;
}

.btn-inactive {
	background: #55bfff;
	border-color: #4eadff;
}

/*Tbl class developed for table element*/
table.tbl {
	border: 1px solid #bbb;
	width: 100%;
}

table.tbl > thead > tr > th, table.tbl > tbody > tr > td {
	border: 1px solid #bbb;
	padding: 5px 8px;
}

table.tbl > thead > tr > th {
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f8f8f8+0,e3e4e9+21,e5e6e9+80,c8c9d2+100,f8f8f8+100,c8c9d2+100 */
	background: #f8f8f8; /* Old browsers */
	background: -moz-linear-gradient(top,  #f8f8f8 0%, #e3e4e9 21%, #e5e6e9 80%, #c8c9d2 100%, #f8f8f8 100%, #c8c9d2 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #f8f8f8 0%,#e3e4e9 21%,#e5e6e9 80%,#c8c9d2 100%,#f8f8f8 100%,#c8c9d2 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #f8f8f8 0%,#e3e4e9 21%,#e5e6e9 80%,#c8c9d2 100%,#f8f8f8 100%,#c8c9d2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#c8c9d2',GradientType=0 ); /* IE6-9 */
}

table.tbl > tbody > tr.row-selectable {
	cursor: pointer;
}

table.tbl > tbody > tr.row-selectable:hover {
	background: #efefef;
}

.status-block {
	border: 1px solid #94ADDC;
	border-radius: 5px;
	padding: 10px 0px 10px;
	box-shadow: 2px 3px 4px #dadada;
	background: rgb(221,221,221);
	background: linear-gradient(180deg, rgba(221,221,221,1) 0%, rgba(255,255,255,1) 0%, rgba(188,209,246,1) 100%); 
}

.timing-bar {
	border: 1px solid #888;
	background: #fff;
	height: 10px;
	float: left;
	width: 100%;
}

.timing-bar > .timing-duty-ongoing,
.timing-bar > .timing-duty-completed,
.timing-bar > .timing-duty-failure,
.timing-bar > .timing-duty-offline {
	float: left;
}

.timing-bar > .timing-duty-ongoing > .start-tip,
.timing-bar > .timing-duty-completed > .start-tip,
.timing-bar > .timing-duty-failure > .start-tip,
.timing-bar > .timing-duty-offline > .start-tip {
	height: 15px;
	width: 1px;
	background: black;
	float: left;
}

.timing-bar > .timing-duty-ongoing > .end-tip,
.timing-bar > .timing-duty-completed > .end-tip,
.timing-bar > .timing-duty-failure > .end-tip,
.timing-bar > .timing-duty-offline > .end-tip {
	height: 28px;
	width: 1px;
	background: black;
	float: left;
}

.timing-bar > .timing-duty-ongoing > .start-tip.hidden,
.timing-bar > .timing-duty-ongoing > .end-tip.hidden,
.timing-bar > .timing-duty-completed > .start-tip.hidden,
.timing-bar > .timing-duty-completed > .end-tip.hidden,
.timing-bar > .timing-duty-failure > .start-tip.hidden,
.timing-bar > .timing-duty-failure > .end-tip.hidden,
.timing-bar > .timing-duty-offline > .start-tip.hidden,
.timing-bar > .timing-duty-offline > .end-tip.hidden {
	display: none;
}

.tip-time {
	font-size: x-small;
	margin-left: -10px;
	position: absolute;
	z-index: 10;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 0px 2px;
}

.timing-bar > .timing-duty-ongoing > .start-tip > .tip-time,
.timing-bar > .timing-duty-completed > .start-tip > .tip-time,
.timing-bar > .timing-duty-failure > .start-tip > .tip-time,
.timing-bar > .timing-duty-offline > .start-tip > .tip-time {
	margin-top: 15px;
}

.timing-bar > .timing-duty-ongoing > .end-tip > .tip-time,
.timing-bar > .timing-duty-completed > .end-tip > .tip-time,
.timing-bar > .timing-duty-failure > .end-tip > .tip-time,
.timing-bar > .timing-duty-offline > .end-tip > .tip-time {
	margin-top: 28px;
}

.timing-bar > .timing-duty-ongoing > .main-section,
.timing-bar > .timing-duty-completed > .main-section,
.timing-bar > .timing-duty-failure > .main-section,
.timing-bar > .timing-duty-offline > .main-section {
	width: calc(100% - 2px);
	height: 8px;
	float: left;
}

.timing-bar > .timing-duty-ongoing > .main-section {
	background: #007BFF;
}

.timing-bar > .timing-duty-completed > .main-section {
	background: #28A745;
}

.timing-bar > .timing-duty-failure > .main-section {
	background: #DC3545;
}

.timing-bar-duty-time {
	width: 0px;
}

.timing-bar-duty-time > .duty-time-tip {
	font-size: x-small;
}

.timing-bar-duty-time > .duty-time-tip > div:last-child {
	height: 5px;
	width: 1px;
	background: black;
}

.timing-bar-duty-time > .duty-time-tip > div:first-child {
	margin-left: -12px;
}

.status-visits-list-item {
	background: #fff;
	padding: 5px;
	border-bottom: 1px solid #ccc;
}

.status-visits-list-item > .status-visits-list-item-reason {
	font-size: x-small;
	display: inline-block;
	float: left;
}

.status-visits-list-item > .status-visits-list-item-time {
	font-size: x-small;
	display: inline-block;
	float: right;
}

.status-visits-list-item > .status-visits-list-item-partyName {
	/*font-size: x-small;*/
}

.status-visits-list-item > .status-visits-list-item-partyAddress {
	font-size: x-small;
}

.status-visits-list-item > .status-visits-list-item-contactPerson {
	font-size: x-small;
}

.status-visits-list-item > .status-visits-list-item-remarks {
	font-size: x-small;
	color: darkslategray;
}

.status-followUps-toComplete {
	background: #FF9999;

}

.status-followUps-completed {
	background: #99FFFF;

}

.status-followUps-toComplete > .header,
.status-followUps-completed > .header {
	padding: 5px;
	font-size: small;
	font-weight: bold;
	border-bottom: 1px solid black;
}

.status-followUps-list-item-toComplete, 
.status-followUps-list-item-completed {
	padding: 5px;
	border-bottom: 1px solid #BBB;
}

.status-followUps-list-item-toComplete > .status-followUps-list-item-followUpFor,
.status-followUps-list-item-completed > .status-followUps-list-item-followUpFor {
	font-size: x-small;
}

.status-followUps-list-item-toComplete > .status-followUps-list-item-partyName,
.status-followUps-list-item-completed > .status-followUps-list-item-partyName {
	
}

.status-followUps-list-item-toComplete > .status-followUps-list-item-partyAddress,
.status-followUps-list-item-completed > .status-followUps-list-item-partyAddress {
	font-size: x-small;
	color: #555;
}

.status-followUps-list-item-toComplete > .status-followUps-list-item-contactPerson,
.status-followUps-list-item-completed > .status-followUps-list-item-contactPerson {
	font-size: x-small;
}

.reports-container {
	margin: 20px;
	border: 1px solid black;
	border-radius: 5px;
	background: rgb(221,221,221);
	background: -moz-linear-gradient(180deg, rgba(221,221,221,1) 0%, rgba(255,255,255,1) 0%, rgba(210,210,210,1) 100%);
	background: -webkit-linear-gradient(180deg, rgba(221,221,221,1) 0%, rgba(255,255,255,1) 0%, rgba(210,210,210,1) 100%);
	background: linear-gradient(180deg, rgba(221,221,221,1) 0%, rgba(255,255,255,1) 0%, rgba(210,210,210,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dddddd",endColorstr="#d2d2d2",GradientType=1);

	padding: 20px;
}